.cont-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #F0EBF4;
    padding-left: 20px;
    padding-right: 20px;
}

.header-left{
    display: flex;
}